<div class="container center">
  <h1>Article Listing</h1>
  
  <div class="center pagination">
    <%= will_paginate @articles %>
  </div>

  <%= render 'article', obj: @articles %>


  <%= link_to 'CREATE ARTICLE', new_article_path, class: "btn btn-primary btn-lg" %>
</div>
